body{
    margin: 0px;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: desco 1s linear 2s infinite alternate;
}

@keyframes desco{
    0%{
        background-color: red;
    }
    15%{
        background-color: green;
    }
    30%{
        background-color: pink;
    }
    45%{
        background-color: bluevoilet;
    }
    60%{
        background-color: brown;
    }75%{
        background-color: chocolate;
    }
    100%{
        background-color: black;
    }
}